body {
    margin: 0;
    background-color: #3a4965;
    font-family: Arimo-Bold, Courier;
}

table {
    width: 1142px;
    height: 680px;
    border-collapse: collapse;
    border-spacing: 1px;
    margin: 70px auto;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}
table, td, th {
    border: 0.5px solid #e2e2e2;
}
td, th {
    width: 300px;
    height: 70px;
}
.uppercase-background-colour {
    text-transform: uppercase;
    text-align: center;
    background-color: #fafafa;
    color: #484848;
}
.text-row-one {
    font-size: 18px;
    color:  black;
}
.text-row-two {
    font-size: 30px;
    color:  black;
}
.background-color-standard {
    background-color:#89c331;
    color: white;
    font-size: 22px;
}
.background-color-ultimate {
    background-color: #f04a56;
    color: white;
    font-size: 22px;
}
.background-color-premium {
    background-color: #20807c;
    color: white;
    font-size: 22px;
}
.price {
    width: 171px;
    margin: 0 auto;
}
.price-unit {
    color: #484848;
    font-size: 46px;
    font-weight: bold;
}

.cents {
    font-size: 16px;
    width: 30px;
    padding-left: 82px;
    padding-top: 10px;
}
.extra-light-grey {
    background-color: #fafafa;
}
.light-grey {
    background-color: #f2f2f2;
}
.grey {
    background-color: #e3e3e3;
}
.left {
    float: left;
}

.clearfix {
    clear: both;
}

.term {
    text-transform: uppercase;
}
.icon {
    background-position: left center;
    background-repeat: no-repeat;
    padding: 5px 0 5px 35px;
}
.icon-storage {
    background-image: url(../image/1_storage.png);
}
.icon-bandwidth {
    background-image: url(../image/2_bandwidth.png);
}
.icon-email {
    background-image: url(../image/3_email.png);
}
.icon-support {
    background-image: url(../image/4_support.png);
}
.icon-product {
    background-image: url(../image/5_products.png);
}
.icon-users {
    background-image: url(../image/6_users.png);
}
.btn-contact {
    background:    #484848;
    background:    linear-gradient(#484848, #484848 80%, #404040 20%, #404040);
    border-radius: 7px;
    box-shadow:    0 1px #000000;
    padding:       9px 20px;
    color:         #ffffff;
    display:       inline-block;
    font:          Arimo-Bold, Courier;
    text-align:    center;
    text-transform: uppercase;
    font-size: 13px;
    height: 49px;
    width: 192px;
}
.btn-buy2 {
    background:    #89c331;
    background:    linear-gradient(#89c331, #89c331 80%, #79b027 20%, #79b027);
    border-radius: 7px;
    box-shadow:    0 1px #000000;
    padding:       9px 20px;
    color:         #ffffff;
    display:       inline-block;
    font:          Arimo-Bold, Courier;
    text-align:    center;
    text-transform: uppercase;
    font-size: 13px;
    height: 49px;
    width: 192px;
}
.btn-buy3 {
    background:    #f04a56;
    background:    linear-gradient(#f04a56, #f04a56 80%, #df3a46 20%, #df3a46);
    border-radius: 7px;
    box-shadow:    0 1px #000000;
    padding:       9px 20px;
    color:         #ffffff;
    display:       inline-block;
    font:          Arimo-Bold, Courier;
    text-align:    center;
    text-transform: uppercase;
    font-size: 13px;
    height: 49px;
    width: 192px;
}
.btn-buy4 {
    background:    #20807c;
    background:    linear-gradient(#20807c, #20807c 80%, #16736f 20%, #16736f);
    border-radius: 7px;
    box-shadow:    0 1px #000000;
    padding:       9px 20px;
    color:         #ffffff;
    display:       inline-block;
    font:          Arimo-Bold, Courier;
    text-align:    center;
    text-transform: uppercase;
    font-size: 13px;
    height: 49px;
    width: 192px;
}
.btns {
    height: 110px;

}
.color-1 {
    background-color: #dddddd;
}
.color-2 {
    background-color: #eeeeee;
}
.color-3 {
    background-color: #f4f4f4;
}
